<div class="row">
    <div class="col-8" align="start">
        <h2 style="color: #7e808c; font-weight: 600; margin: 0 0 28px; font-size: 12px; text-transform: uppercase;">{{restroName}}</h2>
    </div>
    <div class="col-4" align="end">
        <i class="icofont icofont-close" (click)="dialogRef.close()"></i>
    </div>
</div>
<div class="row">
    <div class="col-4" align="center">
        <img src="{{restroImage || 'assets/images/loader.gif'}}" align="center" width="80%" height="40%" style="margin-top: 30%;" />
    </div>
    <div class="col-8">
        <h2 style="margin-top: 10%">{{restroName}}</h2>
        <p>{{restroAreaName}}</p>
    </div>
</div>

<div class="rating">
    <input type="radio" value="5" />
    <label (click)='getRestroRating(5)'></label>

    <input type="radio" value="4" />
    <label (click)='getRestroRating(4)'></label>

    <input type="radio" value="3" />
    <label (click)='getRestroRating(3)'></label>

    <input type="radio" value="2" />
    <label (click)='getRestroRating(2)'></label>

    <input type="radio" value="1" />
    <label (click)='getRestroRating(1)'></label>
</div>