<div (contextmenu)="onRightClick($event)" (window:keydown)="keyboardEvent($event)">
    <div class="row">
        <div class="col">
            <span style="float: left;"><h6 class="heading">REVIEWS</h6></span>
            <span style="font-weight: 100; float: right;"><i class="icofont icofont-close" (click)="dialogRef.close()"></i></span>
        </div>
    </div>
    <div class="row card-header card-body" *ngFor="let rating of ratingList" style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'; font-size: 13px;">
        <div class="col-2" align="center">
            <img src="{{ rating.RESTRO_USER_PHOTO || '../../../assets/profile.png'}}" alt="" width="80%" height="80%"/>
        </div>
        <div class="col-10">
            <h6><strong>{{rating.RESTRO_USER_NAME}}</strong></h6>
            <div style="width: 100%; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis; text-transform: capitalize;">
                <span style="font-weight: 800;">RATED</span>&nbsp;&nbsp;<span class="badge badge-success" style="font-size: 10px;"><i class="icofont icofont-star"></i>&nbsp;{{rating.RATING_VALUE}}</span>&nbsp;&nbsp;<span>{{rating.RESTRO_USER_COMMIT}}</span>
            </div>
        </div>
        <br>
    </div>
</div>