/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '~ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@media print {
    .breadcrumb {
        display: none !important;
    }
}

.dotted-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

}

.dotted-text:hover {
    overflow: visible;
}
