agm-map {
    height: 250px !important;
    width: 100%;  /* This is really important*/
}

mat-vertical-stepper{
    pointer-events: none;
}

.myimage {
    width: 50px;
    height: 50px;
    position: relative;
}

.restroName {
    font-size: 17px;
    color: black;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

html {
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    -ms-font-smoothing: antialiased!important;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#555555; 
}
.tracking-progress-bar{
    margin: 10px 0;
}


.tracking-progress-bar__item{
    background: #E5E7ED;
    border-radius: 50%;
    color: #FFFFFF;
    display: inline-block;
    font-family: sans-serif;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 31px;
    z-index: 9;
}

.tracking-progress-bar__item__bar{
    background: #E5E7ED;
    display: inline-block;
    margin: 0 -5px;
    height: 12px;
    width: 215px;
    z-index: 2;
}

.tracking-progress-bar__item__bar--active{
    background: #e54c2a
}
.tracking-progress-bar__item--first{
    margin-left: 0
}
.tracking-progress-bar__item--active{
    background: #e54c2a;
    color: #fff;
}

.line{
    border-width: thin;
}

.totalPrice {
    margin-left: 70%;
}

.deliveryFee {
    margin-left: 68%;
}

.toPay {
    margin-left: 70%;
}

@media screen and (max-width: 480px) {
    .tracking-progress-bar{
        margin: 10px 0;
    }


    .tracking-progress-bar__item{
        background: #E5E7ED;
        border-radius: 50%;
        color: #FFFFFF;
        display: inline-block;
        font-family: sans-serif;
        font-size: 17px;
        height: 30px;
        line-height: 30px;
        position: relative;
        text-align: center;
        width: 31px;
        z-index: 9;
    }

    .tracking-progress-bar__item__bar{
        background: #E5E7ED;
        display: inline-block;
        margin: 0 -5px;
        height: 12px;
        width: 50px;
        z-index: 2;
    }

    .tracking-progress-bar__item__bar--active{
        background: #c62828
    }
    .tracking-progress-bar__item--first{
        margin-left: 0
    }
    .tracking-progress-bar__item--active{
        background: #c62828;
        color: #fff;
    }

    .totalPrice {
        margin-left: 54%;
    }

    .deliveryFee {
        margin-left: 51%;
    }

    .toPay {
        margin-left: 54%;
    }
}