<div class="wrapper" (contextmenu)="onRightClick($event)" (window:keydown)="keyboardEvent($event)">
    <!--[if lt IE 8]>
       <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->  

    <!-- Loader Start -->
    <div class="loader" *ngIf="loading==true">
        <div class="loader-inner">
            <div id="cooking">
                <img src="../../../assets/images/main-loader.gif" alt=""/>
            </div>
        </div>
    </div>
    <!-- Loader End -->

    <!--  Header Start  -->
    <header style="background: #171a29; position: absolute; left: 0; right: 0; z-index: 2; top: 0;">
        <!--Top Header Start -->
        <div class="top" style="background: #171a29; right: 0;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <ul class="list-inline float-left icon">
<!--                            <li class="list-inline-item"><a><i class="icofont icofont-phone"></i> Hotline : 123 456 7890</a></li>-->
                        </ul>
                        <!-- Header Social Start -->
                        <ul class="list-inline float-right icon">
                            <li class="list-inline-item"><a href="cart"><i class="icofont icofont-cart-alt" style="font-size: larger"><span class="badge badge-info">{{cartLength}}</span></i>  Cart </a></li>
                            <li class="list-inline-item dropdown" *ngIf="loginDone=='true';else login">
                                <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-ui-user"></i> {{loginUserName}}</a>
                                <ul class="dropdown-menu dropdown-menu-right drophover" aria-labelledby="dropdownMenuLink">
                                    <li class="dropdown-item"><a>{{loginUserEmail}}</a></li>
                                    <li class="dropdown-item"><a (click)="logOut()">Sign out</a></li>
                                </ul>
                            </li>
                            <ng-template #login>
                                <li class="list-inline-item dropdown">
                                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-ui-user"></i> My Account</a>
                                    <ul class="dropdown-menu dropdown-menu-right drophover" aria-labelledby="dropdownMenuLink">
                                        <li class="dropdown-item"><a (click)="openLoginDialog()">Login</a></li>
                                    </ul>
                                </li>
                            </ng-template>
                            <li class="list-inline-item">
                                <ul class="list-inline social">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/spheretheme/" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/spheretheme/" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <!---->
                                    <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
                                    <!---->
<!--                                    <li class="list-inline-item"><a href="https://www.youtube.com/" target="_blank"><i class="icofont icofont-social-youtube-play"></i></a></li>-->
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Social End -->
                    </div>
                </div>
            </div>
        </div>
        <!--Top Header End -->

        <div class="container" style="background: #171a29; right: 0;">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- Logo Start  -->
                    <div id="logo">
                        <a href="home"><img id="logo_img" class="img-fluid" src="assets/images/logo/logo.png" alt="logo" title="logo" /></a>
                    </div>
                    <!-- Logo End  -->
                </div>

                <div class="col-md-7 col-sm-6 col-xs-12 paddleft">
                    <!-- Main Menu Start  -->
                    <div id="menu">	
                        <nav class="navbar navbar-expand-md">
                            <div class="navbar-header">
                                <span class="menutext d-block d-md-none">Menu</span>
                                <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggler" type="button"><i class="icofont icofont-navigation-menu"></i></button>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse padd0">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item"><a href="home">HOME</a></li>
                                    <li class="nav-item"><a href="about">about us</a></li>
                                    <li class="nav-item"><a href="career">Career</a></li>
                                    <!--<li class="nav-item"><a href="blog">Our Blog</a></li>-->
                                    <li class="nav-item"><a href="contact">contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Main Menu End -->
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 button-top paddleft" id="menu">
                    <nav class="navbar navbar-expand-md">
                        <div class="collapse navbar-collapse navbar-ex1-collapse padd0">
                            <ul class="nav navbar-nav">
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End   -->

    <!-- Breadcrumb Start -->
    <div style="position:relative; min-height: 150px; margin-top: 8%; background: #171a29;">
        <div style="position:absolute; bottom:20px; left:0; right:0; text-align:center; margin:0 auto; width:244px; background: rgba(0, 0, 0, 0.35); padding:15px 0;">
            <h2 style="font-family: 'Great Vibes',cursive; color:#fff; font-size:30px; font-weight:400; margin:0; text-transform:capitalize;">Profile</h2>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="home" style="color: #FFF;">HOME > </a></li>
                <li class="list-inline-item"><a style="color: #FFF;">Profile</a></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <div class="loading" *ngIf="loaddata">Loading <span><img src="../../../assets/images/loaddata.gif" width="50px" /></span></div>

    <div class="dashboard">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 commontop text-center">
                    <h4>{{userFName}} Profile</h4>
                    <div class="divider style-1 center">
                        <span class="hr-simple left"></span>
                        <i class="icofont icofont-ui-press hr-icon"></i>
                        <span class="hr-simple right"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 user-profile">
                    <div class="row">
                        <div class="col-md-3 col-lg-2">
                            <div class="user-profile-tabs">
                                <!--  Menu Tabs Start  -->
                                <ul class="nav nav-tabs flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#overview" aria-expanded="true">
                                            <i class="icofont icofont-dashboard-web"></i>
                                            <span>Overview</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#profile" aria-expanded="true">
                                            <i class="icofont icofont-ui-user"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#history" aria-expanded="true">
                                            <i class="icofont icofont-history"></i>
                                            <span>History</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#cards" aria-expanded="true">
                                            <i class="icofont icofont-credit-card"></i>
                                            <span>My Card</span>
                                        </a>
                                    </li>
<!--                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#complaint" aria-expanded="true">
                                            <i class="icofont icofont-support-faq"></i>
                                            <span>Complaint</span>
                                        </a>
                                    </li>-->

                                </ul>
                                <!--  Menu Tabs Start  -->
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-10">
                            <div class="tab-content">
                                <div id="overview" class="tab-pane fade active show">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="brief-info">
                                                <div class="media">
                                                    <img class="mr-3" src="{{userPhoto || 'assets/images/loader.gif'}}" width="25%" height="25%" alt="steam">
                                                    <div class="media-body">
                                                        <h4>{{userFName}} {{userLName}}</h4>
                                                        <p *ngIf="userEmail"><i class="icofont icofont-envelope"></i> {{userEmail}}</p>
                                                        <p><i class="icofont icofont-phone"></i> {{userNumber}} </p>
                                                        <p *ngIf="userCity"><i class="icofont icofont-location-pin"></i> {{userCity}}, {{userCountry}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="most-recent-order">
                                                <h5>Recent Orders</h5>
                                                <div class="field-entry" *ngFor="let order of userOrderLatestList">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <p>{{order.ORDER_ID}}</p>
                                                        </div>
                                                        <div class="col" *ngIf="order.DELIVERD">
                                                            <p class="confirmed"><i class="icofont icofont-check"></i>DELIVERD</p>
                                                        </div>
                                                        <div class="col" *ngIf="!order.DELIVERD">
                                                            <p class="failed" *ngIf="!order.HAWKER_STATUS"><i class="icofont icofont-close" *ngIf="order.ORDER_STATUS=='PENDING'"></i><i class="icofont icofont-check" *ngIf="order.ORDER_STATUS=='ACCEPTED'"></i>{{order.ORDER_STATUS}}</p>
                                                            <p class="failed" *ngIf="order.HAWKER_STATUS"><span *ngIf="order.HAWKER_STATUS!='PENDING'">{{order.HAWKER_STATUS}}</span><span *ngIf="order.HAWKER_STATUS=='PENDING'">{{order.ORDER_STATUS}}</span></p>
                                                        </div>
                                                        <div class="col text-right">
                                                            <a (click)="viewDetail(order)">Detail</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="userOrderLatestList?.length==0">
                                                    <img src="assets/images/NoRecordFound.png" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
<!--                                            <div class="user-profile-offer">
                                                <h5>Offers For You</h5>
                                                <div class="offer-body">
                                                    <div class="offer-entry">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-4 align-self-center offer-left text-center">	
                                                                <p>25% OFF</p>
                                                            </div>
                                                            <div class="col-md-8 col-sm-8 offer-right">
                                                                <p>Get 25% OFF on Lunch when you pay with your Bank of America Credit Card. <a href="#">Book Now</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="offer-entry">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-4 align-self-center offer-left text-center">	
                                                                <p>35% OFF</p>
                                                            </div>
                                                            <div class="col-md-8 col-sm-8 offer-right">
                                                                <p>Get 25% OFF on Dinner when you pay with your SBI Credit Card. <a href="#">Book Now</a></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>-->
<!--                                            <div class="user-notification">
                                                <h5>Notification</h5>
                                                <div class="notification-body">
                                                    <div class="notification-entry">
                                                        <p><i class="icofont icofont-lunch"></i> Lunch Starting from $199 <span>1 hr ago</span></p>
                                                    </div>
                                                    <div class="notification-entry">
                                                        <p><i class="icofont icofont-pizza"></i> 20% Cashback on Pizza <span>1 hr ago</span></p>
                                                    </div>
                                                    <div class="notification-entry">
                                                        <p><i class="icofont icofont-food-cart"></i> 50% off on all items <span>2 Days ago</span></p>
                                                    </div>
                                                    <div class="notification-entry">
                                                        <p><i class="icofont icofont-sun-alt"></i> New Year special offer <span>1 Month ago</span></p>
                                                    </div>

                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>

                                <div id="profile" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="user-personal-info">
                                                <h5>Personal Information</h5>
                                                <div class="user-info-body">
                                                    <form [formGroup]="addRestroUserForm">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <input name="fname" required="" placeholder="First Name" class="form-control" type="text" formControlName="userFName" [(ngModel)]="userFName">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <input name="lname" required="" placeholder="Last Name" class="form-control" type="text" formControlName="userLName" [(ngModel)]="userLName">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <input name="email" required="" placeholder="kapil@mywebsite.com" class="form-control" formControlName="userEmail" type="email" [(ngModel)]="userEmail">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <input name="contact" required="" placeholder="Contact Number" class="form-control" formControlName="userNumber" type="number" [(ngModel)]="userNumber">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <mat-form-field class="col-12">
                                                                <input matInput name="dob" [matDatepicker]="picker" placeholder="Date Of Birth" formControlName="userDOB" [(ngModel)]="userDOB">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <textarea name="address" placeholder="Your Current Address" id="current-address" class="form-control" formControlName="userAddress" rows="3" [(ngModel)]="userAddress"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-6">
                                                                <input name="zip-code" class="form-control" placeholder="Zip Code" type="text" formControlName="userPostalCode" [(ngModel)]="userPostalCode">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <input name="city" class="form-control" placeholder="City" type="text" formControlName="userCity" [(ngModel)]="userCity">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-6">
                                                                <input name="country" class="form-control" placeholder="Country" type="text" formControlName="userCountry" [(ngModel)]="userCountry">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <input name="state" class="form-control" placeholder="State" type="text" formControlName="userState" [(ngModel)]="userState">
                                                            </div>
                                                        </div>
                                                        <div align="center" *ngIf="loader" >
                                                            <img src="assets/images/loader.gif" style="width: 15%;" />
                                                        </div>
<!--                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label>Upload Photo</label>
                                                                <input name="profile-pic" class="upload-pic form-control-file" type="file">
                                                            </div>
                                                        </div>-->
                                                        <div class="form-row">
                                                            <div class="form-group mb-0 pt-4 col-12 text-center">
                                                                <button class="btn btn-theme btn-md" (click)="updateRestroUserProfile()" [disabled]="addRestroUserForm.invalid">SAVE CHANGES</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="history" class="tab-pane fade">
                                    <div style="float:left; width:1000px; overflow-y: auto; height: 500px;">
                                        <div class="item-entry" *ngFor="let order of userOrderList">
                                             <span class="order-id">Order ID: {{order.ORDER_ID}}</span>
                                            <div class="item-content">
                                                <div class="item-body">
                                                    <div class="row" *ngFor="let item of order.MENUCART">
                                                         <div class="col-md-2 col-sm-2 text-center">
                                                            <img src="{{item.MENU_ITEM_IMAGE || 'assets/images/shop/01.jpg'}}" alt="Steam" width="80%" height="80%">
                                                        </div>
                                                        <div class="col-md-6 col-sm-6">
                                                            <h4>{{item.MENU_ITEM_NAME}}</h4>
                                                            <!--<p class="des">Cursus / Dictum / Risus</p>-->
                                                            <p class="des">{{item.MENU_ITEM_INGRADIENTS}}</p>
                                                        </div>
                                                        <div class="col-md-4 col-sm-3 text-right" *ngIf="order.DELIVERD">
                                                            <p class="confirmed"><i class="icofont icofont-check"></i>DELIVERD</p>
                                                        </div>
                                                        <div class="col-md-4 col-sm-3 text-right" *ngIf="!order.DELIVERD">
                                                            <p class="failed" *ngIf="!order.HAWKER_STATUS">{{order.ORDER_STATUS}}</p>
                                                            <p class="failed" *ngIf="order.HAWKER_STATUS"><span *ngIf="order.HAWKER_STATUS!='PENDING'">{{order.HAWKER_STATUS}}</span><span *ngIf="order.HAWKER_STATUS=='PENDING'">{{order.ORDER_STATUS}}</span></p>
                                                            <!--<p *ngIf="order.ORDER_STATUS=='PENDING'" style="color: #FFF;" (click)="cancleOrder(order)"><a class="btn btn-theme btn-md">Cancel</a></p>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-footer">
                                                    <p><strong>Order Date:</strong> {{order.SAVE_DT}}<strong>Order Total:</strong> {{order.RESTRO_USER_CART_CURRENCY}} {{order.RESTRO_USER_CART_TOTAL}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="userOrderList?.length==0">
                                            <img src="assets/images/NoRecordFound.png" />
                                        </div>
                                    </div>
                                    
                                </div>

                                <div id="cards" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-lg-12 mat-elevation-z1" align="center">
                                            <h2 style="text-align: center; font-family: 'Great Vibes',cursive;">Coming Soon!</h2>
                                        </div>
<!--                                        <div class="col-lg-6">
                                            <div class="card-entry">
                                                <div class="right">
                                                    <p><a href="#"><i class="icofont icofont-close"></i></a></p>
                                                </div>
                                                <h4>XXXX XXXX XXXX 1234</h4>
                                                <p>Valid Thru 06/22</p>
                                                <div class="card-type">
                                                    <p>Name On Card</p>
                                                    <div class="left">
                                                        <h4>Kapil Patel</h4>
                                                    </div>
                                                    <div class="right">
                                                        <img src="assets/images/mastercard.png" alt="Steam">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
<!--                                        <div class="col-lg-6">
                                            <div class="card-entry">
                                                <div class="right">
                                                    <p><a href="#"><i class="icofont icofont-close"></i></a></p>
                                                </div>
                                                <h4>XXXX XXXX XXXX 2345</h4>
                                                <p>Valid Thru 06/22</p>
                                                <div class="card-type">
                                                    <p>Name On Card</p>
                                                    <div class="left">
                                                        <h4>Kapil Patel</h4>
                                                    </div>
                                                    <div class="right">
                                                        <img src="assets/images/visa.png" alt="Steam">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
<!--                                        <div class="col-lg-6">
                                            <div class="card-entry primary-card">
                                                <div class="left">
                                                    <span>Primary</span>
                                                </div>
                                                <div class="right">
                                                    <p><a href="#"><i class="icofont icofont-close"></i></a></p>
                                                </div>
                                                <div class="clearfix"></div>
                                                <h4>XXXX XXXX XXXX 1234</h4>
                                                <p>Valid Thru 06/17</p>
                                                <div class="card-type">
                                                    <p>Name On Card</p>
                                                    <div class="left">
                                                        <h4>Kapil Patel</h4>
                                                    </div>
                                                    <div class="right">
                                                        <img src="assets/images/mastercard.png" alt="Steam">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
<!--                                        <div class="col-lg-6">
                                            <div class="user-add-card">
                                                <h5>Add New Card</h5>
                                                <div class="user-add-card-body">
                                                    <form>
                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <input class="form-control" name="card-number" required="" placeholder="Card Number" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <input class="form-control" name="cardholder-name" required="" placeholder="Cardholder Name" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-4">
                                                                <input class="form-control" name="valid-month" required="" placeholder="Expiry Month" type="text">
                                                            </div>
                                                            <div class="form-group col-4">
                                                                <input class="form-control" name="valid-year" required="" placeholder="Expiry Year" type="text">
                                                            </div>
                                                            <div class="form-group col-4">
                                                                <input class="form-control" name="cvv" required="" placeholder="CVV" type="password">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group mb-0 col-12 text-center">
                                                                <button class="btn btn-theme btn-md btn-wide" type="submit">ADD CARD</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>

                                <div id="complaint" class="tab-pane fade">
                                    <div class="recent-complaint">
                                        <h4>Service Requests</h4>
                                        <div class="complaint-tabs">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item" ><a data-toggle="tab" href="#active-complaint" class="nav-link text-center active" aria-expanded="false"><i class="icofont icofont-flash"></i> Active (3)</a></li>
                                                <li class="nav-item"><a data-toggle="tab" href="#resolved-complaint" class="nav-link text-center" aria-expanded="false"><i class="icofont icofont-history"></i> Resolved (5)</a></li>	
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div id="active-complaint" class="tab-pane fade active show">
                                                <p><a href="#"><span>Ticket #FOOD94285:</span> My Order was failed but ammount has been dedicted from my account.</a></p>
                                                <p><a href="#"><span>Ticket #FOOD94287:</span> My Order was failed but ammount has been dedicted from my account.</a></p>
                                                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but ammount has been dedicted from my account.</a></p>
                                            </div>
                                            <div id="resolved-complaint" class="tab-pane fade">
                                                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but ammount has been dedicted from my account.</a></p>
                                                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but ammount has been dedicted from my account.</a></p>
                                                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but ammount has been dedicted from my account.</a></p>
                                                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but ammount has been dedicted from my account.</a></p>
                                                <p><a href="#"><span>Ticket #FOOD94295:</span> My Order was failed but ammount has been dedicted from my account.</a></p>
                                            </div>
                                        </div>

                                        <h4 class="mt-5">New Requests</h4>
                                        <div class="submit-complaint">
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group col-12">
                                                        <input class="form-control" name="booking-id" placeholder="Booking Id E.g FOOD94285" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-12">
                                                        <input class="form-control" name="subject" placeholder="Subject" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-12">
                                                        <textarea class="form-control" rows="4" name="problem" placeholder="Your Issue"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-12 text-center mb-0">
                                                        <button class="btn btn-theme btn-md btn-wide" type="submit">SUBMIT REQUEST</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->


    <!-- Footer Start -->
    <footer>
        <div class="footer-bottom">
            <div class="container">
                <div class="row powered">
                    <!--  Copyright Start -->
                    <div class="col-md-3 col-sm-6 order-md-1">
                        <img src="assets/images/logo/logo-white.png" class="img-fluid" title="logo" alt="logo">
                    </div>
                    <div class="col-md-3 col-sm-6 text-right order-md-3">
                        <!--  Footer Social Start -->
                        <ul class="list-inline social">
                            <li class="list-inline-item"><a href="https://www.facebook.com/spheretheme/" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/spheretheme/" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
<!--                            <li class="list-inline-item"><a href="https://www.youtube.com/" target="_blank"><i class="icofont icofont-social-youtube-play"></i></a></li>-->
                        </ul>
                        <!--  Footer Social End -->
                    </div>
                    <div class="col-md-6 col-sm-12 text-center order-md-2">
                    </div>
                    <!--  Copyright End -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End  -->

</div>
