.badge-info {
    color: #fff;
    background-color: #17a2b8;
    border-radius: 50%;
    color: #000;
}

agm-map {
    height: 300px !important;
    width: 100%;  /* This is really important*/
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 40%;
}

.example-half-width {
    width: 30%;
}

@media screen and (max-width: 480px) { 
    .example-full-width {
        width: 100%;
    }

    .example-half-width {
        width: 100%;
    }
}


