<div (contextmenu)="onRightClick($event)" (window:keydown)="keyboardEvent($event)">
    <div class="heading">
        Are you sure
    </div>
    <p style="width: 460px;">You want to cancel this order?</p>
    <div class="row">
        <div class="col-6" align="center">
            <button mat-stroked-button color="warn" style="width: 100%;" (click)="stayWithCart()">No</button>
        </div>
        <div class="col-6" align="center">
            <button mat-stroked-button color="warn" style="width: 100%;" (click)="deleteOrder()">Yes</button>
        </div>
    </div>
</div>